<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<mapper namespace="com.ssm.mapper.PhoneMapper">
	
	<sql id="findPhoneListCommon">
        and phone like CONCAT('%',${phone},'%')
	</sql>
	<select id="findPhoneList" resultType="com.ssm.model.Phone">
		select * from p_phone where 1=1 
		<if test="phone.phone != null and phone.phone != ''">
			<include refid="findPhoneListCommon">
	            <property name="phone" value="${phone.phone}"/>
        	</include>
		</if>
		limit ${currentPage},${pageSize}
	</select>
	<select id="findPhoneListTotal" resultType="String">
		select count(1) from p_phone where 1=1 
		<if test="phone.phone != null and phone.phone != ''">
			<include refid="findPhoneListCommon">
	            <property name="phone" value="${phone.phone}"/>
        	</include>
		</if>
	</select>

	<select id="findPhone" resultType="com.ssm.model.Phone">
		select * from p_phone where phoneId=#{phoneId};
	</select>
	<update id="updatePhone" flushCache="true">
		update p_phone set phone=#{phone.phone} where phoneId=#{phone.phoneId};
	</update>
	
</mapper>